############## Django setting ###############
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=

############### Log Path ENV ################
LOGS_FOLDER_PATH=

########## Conversation Path ENV ############
CONVERSATION_FOLDER_PATH=

############## text Path ENV ################
TEXT_FOLDER_PATH=

############## openai api key ###############
OPENAI_API_KEY=

############## PostgreSQL ENV ###############
HTTP_POSTGRES_DATABASE_NAME=
HTTP_POSTGRES_DATABASE_HOST_USER= 
HTTP_POSTGRES_DATABASE_HOST_PASSWORD= 
HTTP_POSTGRES_DATABASE_HOST=
HTTP_POSTGRES_DATABASE_HOST_PORT=

################ Redis ENV ##################
HTTP_REDIS_DATABASE_INDEX=
HTTP_REDIS_DATABASE_HOST_USER= 
HTTP_REDIS_DATABASE_HOST_PASSWORD=
HTTP_REDIS_DATABASE_HOST=
HTTP_REDIS_DATABASE_HOST_PORT=

################ metadata_mgt ENV ##################
HTTP_METADATA_MGT_HOST=
HTTP_METADATA_MGT_PORT=
METADATA_MGT_API_VERSION=

################ topic_mgt ENV ##################
HTTP_TOPIC_MGT_HOST=
HTTP_TOPIC_MGT_PORT=
TOPIC_MGT_API_VERSION=

################ workflow_mgt ENV ##################
HTTP_WORKFLOW_MGT_HOST=
HTTP_WORKFLOW_MGT_PORT=
WORKFLOW_MGT_API_VERSION=


################ conversation_mgt ENV ##################
HTTP_CONVERSATION_MGT_HOST=
HTTP_CONVERSATION_MGT_PORT=
CONVERSATION_MGT_API_VERSION=