# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtualenv
.env
.venv

# Logs
logs/
texts/
conversations/
media/

# Docker
docker-compose.override.yml
Dockerfile.dev

# Pipfile
Pipfile
Pipfile.*

run_all.sh
